appdirs==1.4.3
asciimatics==1.10.0
certifi==2018.11.29
chardet==3.0.4
colorama==0.4.1
configobj==5.0.6
configparser==3.7.3
contextlib2==0.5.5
cycler==0.10.0
decorator==4.3.2
distro==1.4.0
dvc==0.29.0
future==0.17.1
gitdb2==2.0.5
GitPython==2.1.11
grandalf==0.6
idna==2.8
jedi==0.13.3
jsonpath-rw==1.4.0
kiwisolver==1.0.1
matplotlib==3.0.3
nanotime==0.5.2
networkx==2.2
numpy==1.16.2
parso==0.3.4
Pillow==6.2.0
pluggy==0.9.0
ply==3.11
pyasn1==0.4.5
pyfiglet==0.8.post1
pyparsing==2.3.1
python-dateutil==2.8.0
python-jsonrpc-server==0.1.2
python-language-server==0.24.0
PyYAML==3.13
requests==2.21.0
schema==0.7.0
six==1.12.0
smmap2==2.0.5
torch==1.0.1.post2
torchvision==0.2.2.post3
urllib3==1.24.1
wcwidth==0.1.7
zc.lockfile==1.4
